img {
    max-width: 100%;
    height: auto;
    width: auto;
}
footer {
    font-family: 'Rajdhani', sans-serif;
    color:white;
    text-align:right;
    padding:10px;
    margin-top: 0;
    position: relative;
}

/* Seattle */
.topContainer {
    text-align: center;
    color: white;
    font-size: 44px;
    font-family: 'Rajdhani', sans-serif;
    max-width: 100%;
}
.centered {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 4px 4px rgba(52, 42, 42, 0.25);
}

/* Rectangle 3 */
.middleContainer{
    background-color: #2C2559;
    color:white;
    padding:10px;
    text-align:center;
    font-family: 'Rajdhani', sans-serif;
}

.bottomContainer{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #565989 100%), url("https://images.unsplash.com/photo-1546443046-ed1ce6ffd1ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjc5NjV9&auto=format&fit=crop&w=1650&q=80"); 
    margin:0px;
}

.bottomCenter{
    color:white;
    padding: 300px 10px;
    text-align:center;
    font-family: 'Rajdhani', sans-serif;
    margin:0px;
}

/* Rectangle 6 */
.contact{
    color:white;
    padding: 300px 10px;
    text-align:center;
    font-family: 'Rajdhani', sans-serif;
    margin:0px;
    background: #565989;
}

.content {
    display: flex;
    flex: 1;
}

.columns{
    display: flex;
    flex:1;
}
.main{
    flex: 1;
    order: 2;

}
.first{
    width: 20%;
    order: 1;
}
.last{ 
    width: 20%;
    order: 3;
}

